@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none !important;
    font-family: "Lato", sans-serif;
    text-rendering: optimizeLegibility;
    font-size: var(--fontSize);
    transition: var(--transition);
    text-decoration: none;
    -webkit-tap-highlight-color: transparent !important;
}

html,
body {
    text-size-adjust: none; 
    -webkit-text-size-adjust: none; 
    -ms-text-size-adjust: none; 
    -moz-text-size-adjust: none;
    overflow-x: hidden;
}

html { scroll-behavior: smooth; }

body {
    padding: 25px 15px;
    background-image: url(/images/body_bg.png);
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #202020;
}

ul { list-style: none; }

br { height: 1em; }

button,
a {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none !important;
}

a:focus, a:active {
    outline: none !important;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
    background-color: #333 !important;
    color: #fff;
    opacity: 0.7;
    cursor: default !important;
}

.hidden { display: none !important; }

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #333;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--theme);
    border: 2px solid var(--theme);
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme);
}