.themebuttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 15px;
}

.theme-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    color: #fff;
}

.theme-button:hover { scale: 1.05 }

@media all and (max-width: 700px) {
    .themebuttons { justify-content: center; }
}